<app-header></app-header>

<div class="container mt-4">

    <h2 class="text-center mb-3">Listado de Ventas</h2>
    <p class="text-center text-muted">
        Fecha: {{ hoy | date:'dd/MM/yyyy' }}
    </p>

    <!-- Acciones -->
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success" (click)="abrirAgregar()">+ Nueva Venta</button>
        <div class="d-flex justify-content-between gap-2">
            <button class="btn btn-outline-danger" (click)="descargarResumenPDF()">
                Descargar PDF
            </button>
            <div *ngIf="ventasFiltradas.length > 0" class="text-center">
                <button class="btn btn-outline-primary" (click)="toggleResumenZona()">
                    {{ mostrarResumenZona ? 'Ocultar resumen' : 'Ver resumen' }}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="mostrarResumenZona" class="card shadow-sm mt-3">
        <div class="card-body">
            <h5 class="text-center mb-3">
                Resumen {{ zonaSeleccionada ? 'Zona: ' + zonaSeleccionada : 'de todas las zonas' }}
            </h5>

            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Producto</th>
                        <th class="text-end">Cantidad total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of resumenZona">
                        <td>{{ r.producto }}</td>
                        <td class="text-end">{{ r.cantidad }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center mb-2">
                <strong>Total de productos vendidos:</strong>
                {{ totalProductosZona }}
            </div>
        </div>
    </div>

    <app-registrar-venta *ngIf="mostrarAgregar" (cerrar)="cerrarAgregar()">
    </app-registrar-venta>

    <!-- Resumen -->
    <div class="card shadow-sm mb-4 text-center p-3 mt-3">
        <h5>Total vendido</h5>
        <h3>${{ totalVentas | number:'1.0-0' }}</h3>
    </div>

    <!-- Filtros -->
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Buscar cliente..." [(ngModel)]="busquedaCliente"
                (ngModelChange)="actualizarFiltro()">
        </div>



        <div class="col d-flex gap-2">
            <input type="date" class="form-control" [(ngModel)]="busquedaFecha" (ngModelChange)="actualizarFiltro()">

            <button class="btn btn-outline-primary" (click)="filtrarHoy()">
                Hoy
            </button>

            <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">
                Limpiar
            </button>
        </div>


        <div class="col">
            <select class="form-select" [(ngModel)]="zonaSeleccionada" (change)="actualizarFiltro()">
                <option value="">Todas las zonas</option>
                <option *ngFor="let z of zonas" [value]="z">
                    {{ z }}
                </option>
            </select>
        </div>
    </div>

    <p>Ventas filtradas: {{ ventasFiltradas.length }}</p>

    <!-- Tabla -->
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead class="table-light">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Zona</th>
                    <th>Usuario</th>
                    <th>Total</th>
                    <th>Productos</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let v of ventasFiltradas" [class.table-secondary]="v.estado === 'ANULADA'"
                    [class.table-warning]="v.estado === 'PARCIALMENTE_ACREDITADA'" [class.table-info]="v.estado === 'ACREDITADA'">
                    <td>{{ v.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ v.cliente?.nombreDueno || 'Consumidor Final' }}</td>
                    <td>{{ v.cliente?.zona || '-' }}</td>
                    <td>{{ v.usuario.nombre }}</td>
                    <td>${{ v.total | number:'1.0-0' }}</td>
                    <td>{{ v.detalles.length }}</td>
                    <td class="text-center">
                        <span *ngIf="v.estado === 'ACTIVA'" class="badge bg-success">
                            ACTIVA
                        </span>

                        <span *ngIf="v.estado === 'PARCIALMENTE_ACREDITADA'" class="badge bg-warning text-dark">
                            PARCIAL
                        </span>

                        <span *ngIf="v.estado === 'ACREDITADA'" class="badge bg-info">
                            ACREDITADA
                        </span>

                        <span *ngIf="v.estado === 'ANULADA'" class="badge bg-danger">
                            ANULADA
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary me-1" (click)="verDetalle(v)">Ver</button>
                        <button class="btn btn-sm btn-secondary me-1" (click)="descargarFactura(v)"
                            [disabled]="v.estado === 'ANULADA'">
                            Factura
                        </button>
                        <button class="btn btn-sm btn-danger me-1" [disabled]="v.estado === 'ANULADA' || v.estado !== 'ACTIVA'"
                            (click)="anular(v)">
                            Anular
                        </button>
                        <button class="btn btn-sm btn-warning"
                            [disabled]="v.estado === 'ANULADA' || v.estado === 'ACREDITADA'"
                            (click)="abrirNotaCredito(v)">
                            Nota Crédito
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-ver-detalle *ngIf="mostrarDetalle" [venta]="ventaSeleccionada" (cerrar)="cerrarDetalle()">
    </app-ver-detalle>
    <app-nota-credito *ngIf="mostrarNotaCredito && ventaSeleccionada" [venta]="ventaSeleccionada"
        (cerrar)="cerrarNotaCredito()">
    </app-nota-credito>
</div>
<br><br>