<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow">
                <div class="card-body p-4">

                    <div class="text-center mb-3">
                        <img src="assets/img/lisemma-logo.png" alt="Lissema" class="logo">
                    </div>

                    <h3 class="text-center mb-4 titulo">Iniciar Sesión</h3>

                    <div *ngIf="mensajeExito" class="alert alert-success">
                        {{ mensajeExito }}
                    </div>

                    <form [formGroup]="loginForm" (ngSubmit)="loguearse()">

                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="nombre@ejemplo.com" />

                            <small class="text-danger"
                                *ngIf="(loginForm.controls.email.touched || submitted) && loginForm.controls.email.invalid">

                                <span *ngIf="loginForm.controls.email.errors?.['required']">
                                    El email es obligatorio
                                </span>
                                <span *ngIf="loginForm.controls.email.errors?.['email']">
                                    El email no es válido
                                </span>
                            </small>
                        </div>

                        <div class="mb-3">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Ingresá tu contraseña" />

                            <small class="text-danger"
                                *ngIf="(loginForm.controls.password.touched || submitted) && loginForm.controls.password.invalid">
                                La contraseña es obligatoria
                            </small>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 boton" [disabled]="loading">
                            {{ loading ? 'Ingresando...' : 'Iniciar sesión' }}
                        </button>

                        <div *ngIf="mensajeError" class="alert alert-danger mt-3">
                            {{ mensajeError }}
                        </div>

                    </form>

                    <button class="btn btn-primary w-100 botonSecundario mt-3" type="button" (click)="irARegistro()">
                        Ir a Registro
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>