.boton {
    background-color: #38b6ff;
    border-color: #38b6ff;
    font-weight: 600;
}

.boton:hover {
    background-color: #1aa8ff;
    border-color: #1aa8ff;
}

.botonSecundario {
    background-color: #f90000;
    border-color: #f90000;
    font-weight: 600;
}

.botonSecundario:hover {
    background-color: #e60000;
    border-color: #e60000;
}