/* HEADER */
.bg-header {
  background: linear-gradient(90deg, #38b6ff, #2b82c9);
}

/* BRAND */
.logo-navbar {
  height: 34px;
}

.brand-text {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

/* LINKS */
.nav-link {
  color: #eaf6ff !important;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.nav-link.active {
  background-color: #fff;
  color: #0d6efd !important;
  font-weight: 600;
}

/* USUARIO */
.user-btn {
  background-color: #1f1f1f;
  color: #fff;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.user-btn:hover {
  background-color: #000;
}

/* GENERAL */
a {
  cursor: pointer;
}
