.bg-header {
  background-color: #38b6ff;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

.logo-navbar {
  height: 35px;
}

.nav-link {
  font-weight: 500;
  color: #fff !important;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.btn-outline-secondary {
  background-color: #2b2b2b !important;
  color: #fff;
}

a {
  cursor: pointer;
}

.blanco{
  color: #1a1a1a;
}