/* Fondo oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Tarjeta modal */
.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;

  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;

  z-index: 1001;
}
